# sales and demand Forecasting
### objective-To Build a model to forecast sales and Demand using historarocal Bussiness Data

In [5]:
import nltk

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib.pyplot as plt

In [13]:
df=pd.read_csv("sales Datasets.csv")
df.head()

     Month  Perrin Freres monthly champagne sales millions ?64-?72
0  1964-01                                             2815.0
1  1964-02                                             2672.0
2  1964-03                                             2755.0
3  1964-04                                             2721.0
4  1964-05                                             2946.0